@model Employee

<form method="post" action="/Employee/Register">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="FirstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="LastName" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" required>

    <label for="department">Department:</label>
    <input type="text" id="department" name="Department" required>



    <button type="submit">Submit</button>
</form>